force-app/main/default/flows/CM_AI_Advisor_Meeting_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Format_Email_with_Advisor_Meeting_Notes</name>
        <label>Start QBR Email Draft Generation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CMQBRAsyncEmailDraftService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Meeting_Note_Analysis_Service</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>meetingNotes</name>
            <value>
                <elementReference>TapMeetingNote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMQBRAsyncEmailDraftService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>DraftBufferId</assignToReference>
            <name>bufferId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Records_From_Meeting_Notes_JSON</name>
        <label>Create Records From Meeting Notes JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CMFlowRecordCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Prep_Present_Final_Notes_Tasks</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>MeetingAnalysisJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMFlowRecordCreator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMsg</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GeneratedInteractionSubject</assignToReference>
            <name>interactionSubject</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GeneratedInteractionSummary</assignToReference>
            <name>interactionSummaryBody</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Lead</assignToReference>
            <name>leadRecord</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Opportunitie</assignToReference>
            <name>opportunityRecord</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TaskCollection</assignToReference>
            <name>taskRecords</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Meeting_Note_Analysis_Service</name>
        <label>Meeting Note Analysis Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CMQBRMeetingAnalysisService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Prep_Create_Records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>meetingNote</name>
            <value>
                <elementReference>TapMeetingNote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMQBRMeetingAnalysisService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>MeetingAnalysisJson</assignToReference>
            <name>analysisJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AgentResponse</assignToReference>
            <name>formattedHtml</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Scan_Image_of_Advisor_Meeting_Notes</name>
        <label>Scan Image of Advisor Meeting Notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FINS_Image_Upload_for_Advisor_Meeting_Notes</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Prep_Initial_Response_Screen_Scan</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:recordId</name>
            <value>
                <elementReference>RecordContext</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:File</name>
            <value>
                <elementReference>Get_Content_Document_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_Image_Upload_for_Advisor_Meeting_Notes</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Resolve_Setup_Transcript</name>
        <label>Resolve Setup Transcript</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CMQBRTranscriptResolver</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Initial_Response_Screen_Manual</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMQBRTranscriptResolver</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SetupTranscript</assignToReference>
            <name>transcript</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Task_Values</name>
        <label>Assign Task Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDisplayData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_through_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collections</name>
        <label>Assign to Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IconCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:disclosure_and_compliance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom35</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom38</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>對談逐字稿</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>錄音檔</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>影像檔</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>使用對談逐字稿</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>使用對談錄音內容</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>使用對談手寫筆記內容</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>IfHasError</name>
        <label>IfHasError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cycle_through_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>預設成果</defaultConnectorLabel>
        <rules>
            <name>IfError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>IfError</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Choice</name>
        <label>Intake Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Resolve_Setup_Transcript</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Type Notes</defaultConnectorLabel>
        <rules>
            <name>Image_Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PIckedChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Image Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Image_Screen</targetReference>
            </connector>
            <label>Image Scan</label>
        </rules>
        <rules>
            <name>Voice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PIckedChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice Record</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voice_Placeholder_Screen</targetReference>
            </connector>
            <label>Voice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TapMeetingNote</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!TAP_Component_Scan.value})),
    {!TAP_Component_Scan.value},
    {!TAP_Component_Manual.value}
)</expression>
    </formulas>
    <interviewLabel>CM - AI Advisor Meeting Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CM - AI Advisor Meeting Screenflow</label>
    <loops>
        <name>Cycle_through_Tasks</name>
        <label>Cycle through Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TaskCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Present_Final_Notes_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Context</name>
        <label>Get Account Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RecordContext</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonPronouns</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Id</name>
        <label>Get Content Document Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scan_Image_of_Advisor_Meeting_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UploadedContentDocumentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Draft_Email_Screen</name>
        <label>選擇收件人與寄送郵件</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DraftEmailComponent</name>
            <extensionName>c:cmQbrDraftEmail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>outputMode</name>
                <value>
                    <stringValue>External Agenda</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoSelectAllExternalRecipients</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>summaryModeLabelOverride</name>
                <value>
                    <stringValue>QBR 會議智能跟進</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReviewFlags</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailSubject</name>
                <value>
                    <elementReference>DraftEmailSubjectText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftBufferId</name>
                <value>
                    <elementReference>DraftBufferId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailBody</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>完成</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Pick_a_Contact_to_Email</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Initial_Response_Screen_Manual</name>
        <label>Initial Response Screen - Manual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>回到主畫面</backButtonLabel>
        <connector>
            <targetReference>Prep_Meeting_Note_Analysis_Service</targetReference>
        </connector>
        <fields>
            <name>Manual_Response_Screen_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;這是您與客戶對談的自動轉錄逐字稿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TAP_Component_Manual</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>rich</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minlen</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCharCounter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showCharCounter</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlen</name>
                <value>
                    <stringValue>10000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>charsLeftTemplate</name>
                <value>
                    <stringValue>$R Character Remaining</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>SetupTranscript</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>建立後續任務活度</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Select_Input_Mode</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Initial_Response_Screen_Scan</name>
        <label>Initial Response Screen - Scan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Prep_Meeting_Note_Analysis_Service</targetReference>
        </connector>
        <fields>
            <name>Scan_Response_Screen_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Capture Your Meeting Notes&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TAP_Component_Scan</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minlen</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Scan_Image_of_Advisor_Meeting_Notes.promptResponse</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCharCounter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showCharCounter</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlen</name>
                <value>
                    <stringValue>1200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>charsLeftTemplate</name>
                <value>
                    <stringValue>$R Character Remaining</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Organize &amp; Prepare Notes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Review_Agentforce_Analysis</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Prep_Create_Records</name>
        <label>Prep: Create Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Records_From_Meeting_Notes_JSON</targetReference>
        </connector>
        <fields>
            <name>Indicator3</name>
            <extensionName>c:SDO_Service_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>AI 智能代理正在建立相關紀錄....</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numSpeed</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Review_Agentforce_Analysis</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Prep_Draft_Email_Screen</name>
        <label>Prep: Draft Email Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Draft_Email_Screen</targetReference>
        </connector>
        <fields>
            <name>Indicator5</name>
            <extensionName>c:SDO_Service_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>請稍候，AI 智能代理 正在為你撰寫電子郵件…</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numSpeed</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Pick_a_Contact_to_Email</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Prep_Initial_Response_Screen_Scan</name>
        <label>Prep: Initial Response Screen - Scan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Initial_Response_Screen_Scan</targetReference>
        </connector>
        <fields>
            <name>Indicator1</name>
            <extensionName>c:SDO_Service_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>Standby as Agentforce extracts your meeting notes...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Review_Agentforce_Analysis</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Prep_Meeting_Note_Analysis_Service</name>
        <label>Prep: Meeting Note Analysis Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Format_Email_with_Advisor_Meeting_Notes</targetReference>
        </connector>
        <fields>
            <name>Indicator2</name>
            <extensionName>c:SDO_Service_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>AI 智能代理正在分析逐字稿，約需 20-40 秒，請稍候…</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numSpeed</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Review_Agentforce_Analysis</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Prep_Present_Final_Notes_Tasks</name>
        <label>Prep: Present Final Notes &amp; Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfHasError</targetReference>
        </connector>
        <fields>
            <name>Indicator4</name>
            <extensionName>c:SDO_Service_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>正在產生你的會談筆記及待辦行動項目…</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numSpeed</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Meeting_Follow_Ups_Logged</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Present_Final_Notes_Tasks</name>
        <label>Present Final Notes &amp; Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Prep_Draft_Email_Screen</targetReference>
        </connector>
        <fields>
            <name>Formatted_Agent_Response_Scan</name>
            <fieldText>{!AgentResponse}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>建立郵件草稿</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Meeting_Follow_Ups_Logged</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Upload_Image_Screen</name>
        <label>Upload Image Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Return to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Get_Content_Document_Id</targetReference>
        </connector>
        <fields>
            <name>Upload_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Take a picture of your handwritten notes or upload from photo gallery!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedContentDocumentID</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Select_Picture</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Voice_Placeholder_Screen</name>
        <label>Voice Placeholder Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <fields>
            <name>Voice_Placeholder_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;This feature is coming soon! Click Return to Main Menu to make another choice!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Return to Main Menu</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Select_Input_Mode</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Intake_Choice</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;你可以使用&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;語對紀錄內容&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;、&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;掃描影像&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;，或是&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;對談錄音&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>QC1</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>IconCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>LabelCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>DescriptionCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>richTextFlagString</name>
                <value>
                    <stringValue>RICHTEXT</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PIckedChoice</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Select_Input_Mode</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Meeting_Follow_Ups_Logged</name>
        <isActive>true</isActive>
        <label>Meeting &amp; Follow-Ups Logged</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Pick_a_Contact_to_Email</name>
        <isActive>true</isActive>
        <label>郵件跟進</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Review_Agentforce_Analysis</name>
        <isActive>true</isActive>
        <label>檢視 AI 智能代理分析結果</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Select_Input_Mode</name>
        <isActive>true</isActive>
        <label>選擇內容</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Select_Picture</name>
        <isActive>true</isActive>
        <label>上傳筆記</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CreatedRecordsinJSON</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;Lead&quot;: [
    {
      &quot;Id&quot;: &quot;{!Get_Lead.Id}&quot;,
      &quot;Company&quot;: &quot;{!Get_Lead.Company}&quot;,
      &quot;Description&quot;: {!Get_Lead.Description}
    }
  ],
  &quot;Opportunity&quot;: [
    {
      &quot;Id&quot;: &quot;{!Get_Opportunitie.Id}&quot;,
      &quot;Name&quot;: &quot;{!Get_Opportunitie.Name}&quot;,
      &quot;Amount&quot;: {!Get_Opportunitie.Amount},
      &quot;CloseDate&quot;: &quot;{!Get_Opportunitie.CloseDate}&quot;
    }
  ],
  &quot;Interaction&quot;: [
    {
      &quot;Id&quot;: &quot;&quot;,
      &quot;Subject&quot;: &quot;{!GeneratedInteractionSubject}&quot;
    }
  ],
  &quot;InteractionSummary&quot;: [
    {
      &quot;Id&quot;: &quot;&quot;,
      &quot;Title&quot;: &quot;{!GeneratedInteractionSubject}&quot;,
      &quot;MeetingNotes&quot;: &quot;{!GeneratedInteractionSummary}&quot;
    }
  ],
 {!varDisplayData}
}</text>
    </textTemplates>
    <textTemplates>
        <name>DraftEmailSubjectText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>QBR 會議後續跟進 - {!$Flow.CurrentDate}</text>
    </textTemplates>
    <textTemplates>
        <name>MeetingNote</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;test&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskData</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;Task&quot;: [
    {
      &quot;Id&quot;: &quot;{!Cycle_through_Tasks.Id}&quot;,
      &quot;Subject&quot;: &quot;{!Cycle_through_Tasks.Subject}&quot;,
      &quot;DueDate&quot;: &quot;{!Cycle_through_Tasks.ActivityDate}&quot;,
      &quot;OwnerName&quot;: &quot;{!Cycle_through_Tasks.Owner:User.FirstName} {!Cycle_through_Tasks.Owner:User.LastName}&quot;
    }
  ]
}</text>
    </textTemplates>
    <variables>
        <name>AgentResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DraftBufferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GeneratedInteractionSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GeneratedInteractionSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Get_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Get_Opportunitie</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Gotten_CD_Id</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>IconCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeetingAnalysisJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PIckedChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordContext</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetupTranscript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UploadedContentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
