force-app/main/default/flows/CM_AI_Advisor_Meeting_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Format_Email_with_Advisor_Meeting_Notes</name>
        <label>Start QBR Email Draft Generation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CMQBRAsyncEmailDraftService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Meeting_Note_Analysis_Service</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>meetingNotes</name>
            <value>
                <elementReference>TapMeetingNote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMQBRAsyncEmailDraftService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>DraftBufferId</assignToReference>
            <name>bufferId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Records_From_Meeting_Notes_JSON</name>
        <label>Create Records From Meeting Notes JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CMFlowRecordCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Prep_Present_Final_Notes_Tasks</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>MeetingAnalysisJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMFlowRecordCreator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMsg</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GeneratedInteractionSubject</assignToReference>
            <name>interactionSubject</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GeneratedInteractionSummary</assignToReference>
            <name>interactionSummaryBody</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Lead</assignToReference>
            <name>leadRecord</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_Opportunitie</assignToReference>
            <name>opportunityRecord</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TaskCollection</assignToReference>
            <name>taskRecords</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Meeting_Note_Analysis_Service</name>
        <label>Meeting Note Analysis Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CMQBRMeetingAnalysisService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Prep_Create_Records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>meetingNote</name>
            <value>
                <elementReference>TapMeetingNote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMQBRMeetingAnalysisService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>MeetingAnalysisJson</assignToReference>
            <name>analysisJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AgentResponse</assignToReference>
            <name>formattedHtml</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Scan_Image_of_Advisor_Meeting_Notes</name>
        <label>Scan Image of Advisor Meeting Notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FINS_Image_Upload_for_Advisor_Meeting_Notes</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Prep_Initial_Response_Screen_Scan</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:recordId</name>
            <value>
                <elementReference>RecordContext</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:File</name>
            <value>
                <elementReference>Get_Content_Document_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FINS_Image_Upload_for_Advisor_Meeting_Notes</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Task_Values</name>
        <label>Assign Task Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDisplayData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_through_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collections</name>
        <label>Assign to Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IconCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:disclosure_and_compliance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom35</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom38</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>對談逐字稿</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>錄音檔</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>影像檔</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>使用對談逐字稿</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>使用對談錄音內容</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>使用對談手寫筆記內容</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>IfHasError</name>
        <label>IfHasError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cycle_through_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>預設成果</defaultConnectorLabel>
        <rules>
            <name>IfError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>IfError</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Choice</name>
        <label>Intake Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Initial_Response_Screen_Manual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Type Notes</defaultConnectorLabel>
        <rules>
            <name>Image_Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PIckedChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Image Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Image_Screen</targetReference>
            </connector>
            <label>Image Scan</label>
        </rules>
        <rules>
            <name>Voice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PIckedChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice Record</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voice_Placeholder_Screen</targetReference>
            </connector>
            <label>Voice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TapMeetingNote</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!TAP_Component_Scan.value})),
    {!TAP_Component_Scan.value},
    {!TAP_Component_Manual.value}
)</expression>
    </formulas>
    <interviewLabel>CM - AI Advisor Meeting Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CM - AI Advisor Meeting Screenflow</label>
    <loops>
        <name>Cycle_through_Tasks</name>
        <label>Cycle through Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>TaskCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Present_Final_Notes_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Context</name>
        <label>Get Account Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RecordContext</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonPronouns</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Id</name>
        <label>Get Content Document Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scan_Image_of_Advisor_Meeting_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UploadedContentDocumentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Draft_Email_Screen</name>
        <label>選擇收件人與寄送郵件</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DraftEmailComponent</name>
            <extensionName>c:cmQbrDraftEmail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>outputMode</name>
                <value>
                    <stringValue>External Agenda</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoSelectAllExternalRecipients</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>summaryModeLabelOverride</name>
                <value>
                    <stringValue>QBR 會議智能跟進</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReviewFlags</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailSubject</name>
                <value>
                    <elementReference>DraftEmailSubjectText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftBufferId</name>
                <value>
                    <elementReference>DraftBufferId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailBody</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>完成</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Pick_a_Contact_to_Email</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Initial_Response_Screen_Manual</name>
        <label>Initial Response Screen - Manual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>回到主畫面</backButtonLabel>
        <connector>
            <targetReference>Prep_Meeting_Note_Analysis_Service</targetReference>
        </connector>
        <fields>
            <name>Manual_Response_Screen_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;這是您與客戶對談的自動轉錄逐字稿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TAP_Component_Manual</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>rich</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minlen</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCharCounter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showCharCounter</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlen</name>
                <value>
                    <stringValue>10000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>charsLeftTemplate</name>
                <value>
                    <stringValue>$R Character Remaining</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>(00:00:00) [系統語音] 本會議包含現場與線上與會人員為確保會議紀錄完整本會議將全程錄音錄影 (00:00:05) [WNC Arthur] Michael、Kevin、Sarah，早安，歡迎來新竹。今天高鐵還順利嗎？ (00:00:12) [Qualcomm Michael] 早安 Arthur、Claire、Ian。很順利，今天天氣不錯。不過剛剛從竹北過來園區這段有點小塞車。那我們就不耽誤時間，Kevin，你先把 Deck 投影上去吧。那個 HDMI 線在桌上。 (00:00:30) [Qualcomm Kevin] 好，我接一下。畫面有出來嗎？字會不會太小？ (00:00:38) [WNC Claire] 有點糊，可能要調一下焦距。好，這樣可以。線上聖地牙哥的團隊今天會進來嗎？ (00:00:46) [Qualcomm Kevin] 他們今天只聽錄音，不直接上線，因為時差關係他們那邊已經是半夜了。我們直接開始。 (00:00:55) [WNC Arthur] 好，我們先定調一下。Michael，2025 年我們雙方合作的成績非常亮眼，特別是年底那個北美 T 電信商的 5G FWA 大單，沒有高通總部在 X75 晶片產能上的全力支援，我們 WNC 無法這麼漂亮地拿下。今年 2026 年，Wi-Fi 7 跟 Edge AI 是主戰場，我們兩家絕對要繼續綁在一起打天下。 (00:01:40) [Qualcomm Michael] Arthur 客氣了，這單能贏，靠的是 WNC 在天線設計上的硬實力，你們把我們晶片的效能發揮到了極致，北美電信商非常滿意。高通總部也明確指示，WNC 是我們在全球 Top 3 的戰略網通夥伴。所以今天我們不只談供貨，更要談接下來幾季，我們怎麼把資源互相最大化。 (00:02:15) [WNC Claire] 那我們先進入實務面的 Review。Kevin，你切到 Slide 12。我們大概花個十分鐘先把上一季的帳算清楚。上一季你們整體的 OTD，你們給的 Scorecard 上面寫 Q4 OTD 是 96%，品質 DPPM 也控制得很好。但是，這個 OTD 數據跟我們系統跑出來的對不上。Ian，你說一下狀況。 (00:03:05) [WNC Ian] Kevin、Sarah，我們 SAP 系統裡抓出來，你們上一季實際的 OTD 只有 88%。你們可以看一下紙本資料的第三頁。特別是 IPQ5322 這顆 Wi-Fi 6E 的料，有三張 PO 都遲到了將近兩週。我們產線那幾天幾乎是在空轉，差點因為這三張單斷線對客戶違約。 (00:03:50) [Qualcomm Sarah] Ian，我昨天有查過你發給我的那份明細。那三張 PO，我們的高雄倉確實在你們要求的 CRD，也就是客戶需求交期前三天就把貨拉出去了。我們的 Oracle 系統紀錄顯示是 On-time 出貨。中間會卡兩週，是因為你們指定的 Forwarder 在香港清關的時候卡住了，這段 Transit time 照理說不能算在我們頭上吧？ (00:04:40) [WNC Ian] Sarah，那三張單的 Incoterms 是 DAP 我們的昆山廠，不是 EXW 高雄。貨沒進到我們昆山廠的碼頭，在系統上就不算達交。而且重點是，當時是因為你們包裝標籤 Label 的二維碼印錯，跟報關單上的料號不符，香港海關才會擋下來盤查的，這怎麼能算 Forwarder 的錯？我們為了這批貨，還花錢走了急件清關。 (00:05:35) [Qualcomm Sarah] 我打斷一下，那個標籤二維碼的問題，我後來去追了我們的封測廠，是日月光那邊在過機台的時候，韌體版本沒更新導致噴碼錯誤。我們已經對 OSAT 廠開出 CAR 糾正預防措施了。 (00:06:10) [WNC Ian] Sarah，不管是你們還是封測廠的錯，海關就是不放行啊。我們產線停線等料，還臨時找了報關行塞了快一萬美金的急件費，這筆帳總不能我們吞吧？ (00:06:45) [Qualcomm Kevin] OK，Ian，包裝標籤那個確實是我們外包封測廠的疏失，這點我們認。這 8% 的 Gap 我們回去會把這三張單的權重扣掉，重新算一份 OTD 給你們，那筆一萬美金的清關額外費用，你們整理好單據，我們走 RMA 流程或者下季度的 Credit Memo 吸收掉。但老實說，Q4 你們臨時 Pull-in 的要求也很多，我們產線其實已經在每天急件處理了。 (00:07:45) [WNC Claire] Kevin，這就是為什麼我們要在這裡對數字。我們不是要罰你們錢，但系統裡的 88% 就是真實反映了我們產線有風險。過去的就算了，但我要求針對接下來的 IPQ9574，也就是 Wi-Fi 7 的主晶片，你們在台灣跟越南的 Hub 倉必須維持至少 4 週的 Buffer Stock，不能再讓我們承擔清關跟物流的突發風險。 (00:08:35) [Qualcomm Kevin] Claire，4 週的 Hub stock 現金流壓力太大了，這等於有一大筆錢壓在倉庫裡不動。總部現在嚴控庫存水位，最高只批 2 週。但我可以承諾，針對 WNC 的單，只要是急件，我們直接走空運優先通道，運費算我們的。 (00:09:20) [WNC Claire] 2 週的 Safety stock 遇到海關抽驗或者颱風停飛還是有斷料風險。特別是 Q3 開始大放量的時候。這點我們先當作 Action Item 記下來，請你們總部再重新評估拉高到 3 週的可能性，我們下週雙週會再來追這個進度。好，我們往下看 Slide 15，進入今天的重頭戲，談談歐洲 V 電信商那個 Wi-Fi 7 的案子。Ian，你過一下成本。 (00:10:15) [WNC Ian] Kevin，你們這週給出的 IPQ9574 加上射頻套片的報價，距離我們拿案子的 Target Price 還有 $3.5 USD 的差距。我直說了，對手 B 家博通的方案，整套報下來比你們便宜快 $4 塊錢。我們這案子是跟你們聯合掛牌去打的，你們現在這個價格，我們在客戶那邊根本推不出去。 (00:11:00) [Qualcomm Sarah] Ian，你不能只看 Main Chip 的報價。我們的方案把 MAC 跟 PHY 的整合度做得更高。用我們的套片，你們 R&amp;D 在打板子的時候，可以省掉兩顆 Skyworks 的外部 FEM 射頻前端模組。而且因為我們封裝比較小，你們那片 PCBA 可以直接從 8 層板降到 6 層板。光是 PCB 面積跟兩顆 FEM 省下來的錢，早就超過 $4 塊了。 (00:11:50) [WNC Ian] Sarah，你說的那個是你們 reference design 理想公板的狀態。我們 R&amp;D 實際跑過 EVT 測試，你們這代晶片在跑高頻寬滿載的時候，溫度根本壓不下來。Slide 16 你看這張熱成像圖，滿載的時候 SoC 表面溫度衝到 95 度。如果我們 PCB 降到 6 層板，散熱絕對過不了歐洲客戶的安規測試。 (00:12:45) [WNC Ian] 我們現在被迫要在機構件上加一塊很厚的 Thermal Pad 跟大面積的鋁擠散熱鰭片。你知道現在鋁價跟高階導熱材料多貴嗎？這套模具費加上每台的散熱材料錢，BOM 表直接多出 $1.8 USD。加上 PCB 沒辦法降層，散熱增加的成本，早就把省下 FEM 的錢吃光了，而且還增加組裝工時。 (00:13:50) [WNC Claire] Sarah、Kevin，Ian 說的沒錯，System cost 系統總成本是騙不了人的。我不管你們內部怎麼算，我這邊整機的 BOM Cost Target 就是 $45 塊。現在加上你們的晶片跟我們必須疊上去的散熱方案，我算出來就是 $48.5。我不管你們是去跟 BU 要特批價，還是用 Backend Rebate 的方式，我需要你們想辦法吃下這 $3.5 的差價。否則這單子我們連投標的資格都沒有。 (00:14:55) [Qualcomm Kevin] 這數字真的很硬……你們知道這顆料我們已經是用幾乎貼近成本的價格在報了。你們這次的 Forecast 大約是多少？ (00:15:15) [WNC Ian] 第一年保底 150 萬台，如果拿到 Second Source 的單，有機會上探 250 萬台。而且這還只是 V 電信商的量，後續還有機會複製到北美市場。 (00:15:40) [Qualcomm Michael] Arthur、Claire，這個歐洲客戶對我們擴張 Wi-Fi 7 版圖至關重要。如果有 150 萬的量，我可以用「戰略防禦專案」的名義去總部簽 Special Pricing。但我沒辦法一次在前端把單價降 $3.5，這會破壞我們全球的價格體系，我會被總部 Compliance 盯上。我提個腹案：前端單價我先降 $1.5 讓你們去投標，剩下的 $2 塊錢，我們簽一個階梯式的 Rebate。只要出貨跨過 100 萬台的門檻，後面的每一台我退 $3 塊給你們。 (00:16:50) [WNC Claire] Michael，前端降 $1.5 不夠，這樣我們第一季出貨的現金流會是負的。歐洲電信商的付款條件是 90 天，我們墊料錢墊太兇了。前端至少要降 $2，後面的 $1.5 我們再來用 Rebate 談。 (00:17:25) [Qualcomm Michael] Claire，前端降 $2 真的沒辦法。這樣好不好，前端維持降 $1.5，但我額外補貼你們一筆 $50 萬美金的 NRE 不重覆工程費用，一次性付清，用來 cover 剛剛 Ian 說的那個鋁擠散熱模具費跟早期的 R&amp;D 開發成本。這樣你們前期的現金流壓力就解了。 (00:18:15) [WNC Arthur] 這個提議有建設性。Ian，NRE 50 萬加上後端 Rebate，算下來可以嗎？ (00:18:35) [WNC Ian] (鍵盤敲擊聲) 我按一下計算機……如果有這筆 50 萬的 NRE 進來沖銷研發與模具費用，那整機的攤提成本確實可以降下來。前 100 萬台我們的毛利大概能維持在 8% 左右，跨過門檻拿 Rebate 後可以拉到正常水準。這方案財務上可以接受。 (00:19:30) [WNC Arthur] 好，那就照這個架構。Ian，你今天下午把這個 Rebate 模型再精算一次確認沒有盲點。Kevin，請你們法務先把 Rebate agreement 還有 NRE 的合約草稿準備好，我們目標是月底前雙方把合約 Sign off，才趕得上客戶的投標時程。 (00:20:15) [Qualcomm Kevin] 沒問題，我今天下班前把 Draft 發給 Ian。接下來，Slide 18，我想轉換一下身份。WNC 也是我們非常重要的高階公板代工廠。我們委託你們設計生產的那批次世代車載 Snapdragon Auto 測試模組，目前進度如何？我們底特律的車廠客戶已經在催了，這專案攸關我們明年車載市場的佈局。 (00:21:05) [WNC Claire] 這部分我親自在盯。目前 R&amp;D 的 EVT 已經通過了，正在準備進入 DVT。不過 Kevin，這塊板子上有一顆 TI 德州儀器的車規級電源管理 IC PMIC，目前市場上大缺貨，供應商報的交期長達 24 週。我們採購這邊已經在全球現貨市場掃料了，但數量還是不夠支撐你們下個月要的 5,000 套模組。 (00:22:00) [WNC Ian] 補充一下，我們有去現貨市場問，這顆原本單價 $0.8，現在現貨商喊到 $3.5，而且批號很散，不保證是全新 Reel 裝，這種來路不明的料我們絕對不敢上車載的板子，到時候出事賠不起。 (00:22:45) [WNC Arthur] Michael，這點可能需要動用高通的原廠影響力了。那顆 PMIC 的原廠是你們的長期戰略夥伴，如果由高通的高層出面去協調產能，或者允許我們在 BOM 表上啟動 MPS 的 Second Source 承認程序，我們才能保證在下個月把這批車載模組準時交給你們。 (00:23:35) [Qualcomm Michael] 我了解了。這批模組對我們去推廣下一代車聯網晶片太重要了，絕對不能 delay。Kevin，會議後你跟 Ian 對一下那顆缺料的 Exact Part Number 跟需求量，我今天下午直接打給 TI 負責我們 Account 的 VP 要產能，這事我們高通來解決。Second Source 的承認我同時會請我們 R&amp;D 啟動備案。 (00:24:30) [Qualcomm Kevin] 另外，MPS 的 Second Source 承認，我們車載的 QA 流程比較嚴格，AEC-Q100 的驗證報告你們那邊有齊全嗎？這不能隨便拿消費級的來混喔。 (00:25:00) [WNC Ian] 有的，MPS 那邊已經把所有的 Reliability 報告跟車規認證文件都傳過來了，我下午打包發給你們的 R&amp;D 跟 QA 審查。只要你們一放行，我們立刻下單拉料。 (00:25:40) [WNC Ian] 太好了，謝謝 Michael 支援。那我們進到最後一個議程，Slide 20，關於 Global Logistics。2026 年 WNC 的戰略重點是產能的全球分散，也就是 China+1 的佈局。我們在越南北寧廠和墨西哥華雷斯廠的產能占比下半年會拉到 40%。為了支撐這兩個廠區的 JIT 及時生產，我們極度需要高通在這兩地完善 VMI 供應商管理庫存的建置。 (00:26:50) [Qualcomm Sarah] 這部分的進度都在掌握中。墨西哥的部分，德州 El Paso 的發貨中心上個月已經擴建完畢，完全可以覆蓋你們華雷斯的產線，而且我們兩邊的 IT 已經在測 EDI 電子資料交換自動拋單了，上週的測試數據都沒有掉單，預計下週可以正式 Go-live。 (00:27:45) [Qualcomm Kevin] 至於越南的部分，情況稍微複雜一點。我們考量到稅務與保稅區規範，預計在 Q2 末會與當地的第三方物流 3PL，目前是找 DHL，完成對接建立 Bonded Warehouse 保稅倉。到時候 WNC 越南廠拉料就可以做到 T+1 甚至當日達。過渡期間，我們會先從新加坡 Hub 發貨，多出來的 Transit time 運輸時間跟運費我們會吸收。 (00:28:55) [WNC Claire] 非常好。越南的 3PL 簽約跟系統串接進度，Sarah，麻煩你接下來的 Weekly sync up 會議上要固定 update 給我們，這攸關我們下半年產線排程跟物料調度。不要到了五月底才跟我說系統接不上。 (00:29:40) [Qualcomm Sarah] 沒問題 Claire，我會把它放進每週的 Tracker 裡面追蹤。 (00:30:10) [WNC Arthur] 好，我看時間差不多了。今天的共識很明確：第一，OQA 的 8% OTD 差異由高通重算並扣除清關爭議，清關費走 RMA；第二，歐洲標案 $1.5 前端降價加 50 萬 NRE 以及後端 Rebate，Ian 跟 Kevin 這週對齊合約細節；第三，車載模組的 PMIC 缺料，由 Michael 協助向 TI 追料，並啟動 MPS 備案；第四，墨西哥 EDI 下週 Go-live，越南 VMI Q2 末上線。大家都清楚了嗎？ (00:31:30) [Qualcomm Michael] 非常清楚。Arthur 總結得很精準。今年的業績，我們就繼續仰仗 WNC 的神隊友支援了！希望下半年的歐洲標案我們能順利拿下。 (00:32:10) [WNC Arthur] 那是當然，我們是真正的戰略夥伴，大家坐在同一條船上。中午我們在竹北訂了餐廳，大家把筆電收一收，我們準備出發一起吃個飯吧。 (00:32:45) [Qualcomm Kevin] 好的，沒問題，謝謝 Arthur。 (00:33:05) [系統語音] 會議結束錄音已停止</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>建立後續任務活度</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Select_Input_Mode</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Initial_Response_Screen_Scan</name>
        <label>Initial Response Screen - Scan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Prep_Meeting_Note_Analysis_Service</targetReference>
        </connector>
        <fields>
            <name>Scan_Response_Screen_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Capture Your Meeting Notes&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TAP_Component_Scan</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>plain</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>500</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minlen</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Scan_Image_of_Advisor_Meeting_Notes.promptResponse</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCharCounter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showCharCounter</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxlen</name>
                <value>
                    <stringValue>1200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>charsLeftTemplate</name>
                <value>
                    <stringValue>$R Character Remaining</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Organize &amp; Prepare Notes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Review_Agentforce_Analysis</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Prep_Create_Records</name>
        <label>Prep: Create Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Records_From_Meeting_Notes_JSON</targetReference>
        </connector>
        <fields>
            <name>Indicator3</name>
            <extensionName>c:SDO_Service_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>AI 智能代理正在建立相關紀錄....</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numSpeed</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Review_Agentforce_Analysis</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Prep_Draft_Email_Screen</name>
        <label>Prep: Draft Email Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Draft_Email_Screen</targetReference>
        </connector>
        <fields>
            <name>Indicator5</name>
            <extensionName>c:SDO_Service_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>請稍候，AI 智能代理 正在為你撰寫電子郵件…</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numSpeed</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Pick_a_Contact_to_Email</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Prep_Initial_Response_Screen_Scan</name>
        <label>Prep: Initial Response Screen - Scan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Initial_Response_Screen_Scan</targetReference>
        </connector>
        <fields>
            <name>Indicator1</name>
            <extensionName>c:SDO_Service_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>Standby as Agentforce extracts your meeting notes...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Review_Agentforce_Analysis</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Prep_Meeting_Note_Analysis_Service</name>
        <label>Prep: Meeting Note Analysis Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Format_Email_with_Advisor_Meeting_Notes</targetReference>
        </connector>
        <fields>
            <name>Indicator2</name>
            <extensionName>c:SDO_Service_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>AI 智能代理正在分析逐字稿，約需 20-40 秒，請稍候…</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numSpeed</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Review_Agentforce_Analysis</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Prep_Present_Final_Notes_Tasks</name>
        <label>Prep: Present Final Notes &amp; Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfHasError</targetReference>
        </connector>
        <fields>
            <name>Indicator4</name>
            <extensionName>c:SDO_Service_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>正在產生你的會談筆記及待辦行動項目…</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numSpeed</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Meeting_Follow_Ups_Logged</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Present_Final_Notes_Tasks</name>
        <label>Present Final Notes &amp; Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Prep_Draft_Email_Screen</targetReference>
        </connector>
        <fields>
            <name>Formatted_Agent_Response_Scan</name>
            <fieldText>{!AgentResponse}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>建立郵件草稿</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Meeting_Follow_Ups_Logged</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Upload_Image_Screen</name>
        <label>Upload Image Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Return to Main Menu</backButtonLabel>
        <connector>
            <targetReference>Get_Content_Document_Id</targetReference>
        </connector>
        <fields>
            <name>Upload_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Take a picture of your handwritten notes or upload from photo gallery!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedContentDocumentID</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Select_Picture</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Voice_Placeholder_Screen</name>
        <label>Voice Placeholder Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <fields>
            <name>Voice_Placeholder_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;This feature is coming soon! Click Return to Main Menu to make another choice!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Return to Main Menu</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Select_Input_Mode</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Intake_Choice</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;你可以使用&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;語對紀錄內容&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;、&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;掃描影像&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;，或是&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;對談錄音&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>QC1</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>IconCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>LabelCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>DescriptionCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>richTextFlagString</name>
                <value>
                    <stringValue>RICHTEXT</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PIckedChoice</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Select_Input_Mode</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Meeting_Follow_Ups_Logged</name>
        <isActive>true</isActive>
        <label>Meeting &amp; Follow-Ups Logged</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Pick_a_Contact_to_Email</name>
        <isActive>true</isActive>
        <label>郵件跟進</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Review_Agentforce_Analysis</name>
        <isActive>true</isActive>
        <label>檢視 AI 智能代理分析結果</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Select_Input_Mode</name>
        <isActive>true</isActive>
        <label>選擇內容</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Select_Picture</name>
        <isActive>true</isActive>
        <label>上傳筆記</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CreatedRecordsinJSON</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;Lead&quot;: [
    {
      &quot;Id&quot;: &quot;{!Get_Lead.Id}&quot;,
      &quot;Company&quot;: &quot;{!Get_Lead.Company}&quot;,
      &quot;Description&quot;: {!Get_Lead.Description}
    }
  ],
  &quot;Opportunity&quot;: [
    {
      &quot;Id&quot;: &quot;{!Get_Opportunitie.Id}&quot;,
      &quot;Name&quot;: &quot;{!Get_Opportunitie.Name}&quot;,
      &quot;Amount&quot;: {!Get_Opportunitie.Amount},
      &quot;CloseDate&quot;: &quot;{!Get_Opportunitie.CloseDate}&quot;
    }
  ],
  &quot;Interaction&quot;: [
    {
      &quot;Id&quot;: &quot;&quot;,
      &quot;Subject&quot;: &quot;{!GeneratedInteractionSubject}&quot;
    }
  ],
  &quot;InteractionSummary&quot;: [
    {
      &quot;Id&quot;: &quot;&quot;,
      &quot;Title&quot;: &quot;{!GeneratedInteractionSubject}&quot;,
      &quot;MeetingNotes&quot;: &quot;{!GeneratedInteractionSummary}&quot;
    }
  ],
 {!varDisplayData}
}</text>
    </textTemplates>
    <textTemplates>
        <name>DraftEmailSubjectText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>QBR 會議後續跟進 - {!$Flow.CurrentDate}</text>
    </textTemplates>
    <textTemplates>
        <name>MeetingNote</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;test&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskData</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;Task&quot;: [
    {
      &quot;Id&quot;: &quot;{!Cycle_through_Tasks.Id}&quot;,
      &quot;Subject&quot;: &quot;{!Cycle_through_Tasks.Subject}&quot;,
      &quot;DueDate&quot;: &quot;{!Cycle_through_Tasks.ActivityDate}&quot;,
      &quot;OwnerName&quot;: &quot;{!Cycle_through_Tasks.Owner:User.FirstName} {!Cycle_through_Tasks.Owner:User.LastName}&quot;
    }
  ]
}</text>
    </textTemplates>
    <variables>
        <name>AgentResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DraftBufferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GeneratedInteractionSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GeneratedInteractionSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Get_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Get_Opportunitie</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Gotten_CD_Id</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>IconCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeetingAnalysisJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PIckedChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordContext</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UploadedContentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
