force-app/main/default/flows/CM_Email_To_Opptys.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallPrompt</name>
        <label>Call Prompt CM_Email_To_Opptys</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CM_EmailToOpptyPromptInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PreviewScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailMessageId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CM_EmailToOpptyPromptInvoker</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varPromptJson</assignToReference>
            <name>rawJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varSummary</assignToReference>
            <name>summary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varEmailSubject</assignToReference>
            <name>subject</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varEmailBody</assignToReference>
            <name>emailBody</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CreateOpportunities</name>
        <label>Create Opportunities from Prompt JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CM_EmailToOpptyCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>rawJson</name>
            <value>
                <elementReference>varEditedJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailMessageId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CM_EmailToOpptyCreator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varCreatedCount</assignToReference>
            <name>createdCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varFailedCount</assignToReference>
            <name>failedCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCreateMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>CM Email To Opptys {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CM - Email To Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ErrorScreen</name>
        <label>建立失敗</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorHeader</name>
            <fieldText>&lt;p style=&quot;font-size:16px;&quot;&gt;&lt;strong&gt;Auto-Create Opps failed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Please review input data and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PreviewScreen</name>
        <label>預覽將建立的 Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateOpportunities</targetReference>
        </connector>
        <fields>
            <name>IntroText</name>
            <fieldText>&lt;p style=&quot;font-size:16px;&quot;&gt;&lt;strong&gt;AI Suggested Opportunities (up to 5)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Review and adjust Name / Quantity / Unit Price / Close Date, then click Next to create Opportunities.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>JsonReview</name>
            <extensionName>c:cmEmailOpptyJsonReview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jsonText</name>
                <value>
                    <elementReference>varPromptJson</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailSubject</name>
                <value>
                    <elementReference>varEmailSubject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailBody</name>
                <value>
                    <elementReference>varEmailBody</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>summary</name>
                <value>
                    <elementReference>varSummary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varEditedJson</assignToReference>
                <name>editedJson</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>建立完成</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessHeader</name>
            <fieldText>&lt;p style=&quot;font-size:16px;&quot;&gt;&lt;strong&gt;Done&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ResultText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Created:&lt;/strong&gt; {!varCreatedCount} &lt;strong&gt;Failed:&lt;/strong&gt; {!varFailedCount}&lt;/p&gt;&lt;p&gt;{!varCreateMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CallPrompt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCreateMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEditedJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFailedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPromptJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
