force-app/main/default/flows/CM_Generate_Simulated_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Emails</name>
        <label>Generate Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CMEmailTimelineSimulationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>backgroundContext</name>
            <value>
                <elementReference>simulationContext</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailCount</name>
            <value>
                <elementReference>emailCount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>simulationDirection</name>
            <value>
                <elementReference>simulationDirection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMEmailTimelineSimulationService</nameSegment>
        <outputParameters>
            <assignToReference>createdCount</assignToReference>
            <name>createdCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>previewSubject</assignToReference>
            <name>previewSubject</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>resultMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>createdEmailIds</assignToReference>
            <name>createdEmailIds</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>依輸入的背景資料與期間，批次建立模擬 EmailMessage 活動時間軸資料。</description>
    <interviewLabel>建立模擬郵件 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>建立模擬郵件</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Result_Screen</name>
        <label>完成</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResultText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!resultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;預覽主旨：{!previewSubject}&lt;/p&gt;&lt;p&gt;建立數量：{!createdCount}&lt;/p&gt;&lt;p&gt;EmailMessage Ids：{!createdEmailIds}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Setup_Screen</name>
        <label>設定模擬資料</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_Emails</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;建立模擬郵件&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;輸入模擬郵件背景資料、比數與期間。系統會呼叫 Prompt 產生一封基底草稿，再由 Apex 批次建立多筆 EmailMessage 測試資料。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SimulationSetup</name>
            <extensionName>c:cmEmailSimulationSetup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>simulationContext</assignToReference>
                <name>simulationContext</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>emailCount</assignToReference>
                <name>emailCount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>simulationDirection</assignToReference>
                <name>simulationDirection</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>startDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>endDate</assignToReference>
                <name>endDate</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Setup_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>createdEmailIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>endDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previewSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>simulationContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>simulationDirection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
