force-app/main/default/flows/CM_Get_News_Prompt_Template_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetNews</name>
        <label>GetNews</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CM_Get_News_By_GDELT_API</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>X1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>companyName</name>
            <value>
                <elementReference>regCompanyName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CM_Get_News_By_GDELT_API</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>X1</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>新增提示指示 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!GetNews.companyInfo}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>regCompanyName</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!CompanyName}, &quot;, Inc.&quot;, &quot;&quot;))</expression>
    </formulas>
    <interviewLabel>CM - Get News - Prompt Template Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CM - Get News - Prompt Template Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__fieldCompletion</name>
            <capabilityName>PromptTemplateType://einstein_gpt__fieldCompletion</capabilityName>
            <inputs>
                <name>RelatedEntity</name>
                <capabilityInputName>RelatedEntity</capabilityInputName>
                <dataType>SOBJECT://Account</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>GetNews</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Input.RelatedEntity.Name</elementReference>
        </value>
    </variables>
</Flow>
