force-app/main/default/flows/CM_Prepare_Account_QBR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <apiVersion>66</apiVersion>
    <description>為 Account 準備結構化 QBR 會前簡報草稿 / Prepare a structured QBR briefing draft for an Account.</description>
    <interviewLabel>準備 Account QBR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CM - Prepare Account QBR</label>
    <processType>Flow</processType>
    <screens>
        <name>Meeting_Setup</name>
        <label>會議設定 / Meeting Setup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Topic_Editor</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Setup_Stage</elementReference>
        </stageReference>
        <fields>
            <name>SetupIntro</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;QBR 會議準備（使用者編修版）&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;此流程不會重新生成 9 頁內容，只會讀取 QBR Setup 已產生的預設資料，供你編修。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QbrSetupPanel</name>
            <extensionName>c:cmQbrSetupPanel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quarter</name>
                <value>
                    <elementReference>varQuarter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>meetingDate</name>
                <value>
                    <elementReference>varMeetingDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>screenMode</name>
                <value>
                    <stringValue>setup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>qbrMeetingId</name>
                <value>
                    <elementReference>varQbrMeetingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slideOneHtml</name>
                <value>
                    <elementReference>varSlideOneHtml</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slideTwoHtml</name>
                <value>
                    <elementReference>varSlideTwoHtml</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slideThreeHtml</name>
                <value>
                    <elementReference>varSlideThreeHtml</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slideFourHtml</name>
                <value>
                    <elementReference>varSlideFourHtml</elementReference>
                </value>
            </inputParameters>
            <outputParameters>
                <assignToReference>varQuarter</assignToReference>
                <name>quarter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varMeetingDate</assignToReference>
                <name>meetingDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varQbrMeetingId</assignToReference>
                <name>qbrMeetingId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSlideOneHtml</assignToReference>
                <name>slideOneHtml</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSlideTwoHtml</assignToReference>
                <name>slideTwoHtml</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSlideThreeHtml</assignToReference>
                <name>slideThreeHtml</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSlideFourHtml</assignToReference>
                <name>slideFourHtml</name>
            </outputParameters>
        </fields>
    </screens>
    <screens>
        <name>Topic_Editor</name>
        <label>議題編修 / Topic Editor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Export_Presentation</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Editor_Stage</elementReference>
        </stageReference>
        <fields>
            <name>EditorIntro</name>
            <fieldText>&lt;p&gt;請使用 Tab 編修議題內容。完成後按「下一步」進入輸出。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TopicEditorPanel</name>
            <extensionName>c:cmQbrSetupPanel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quarter</name>
                <value>
                    <elementReference>varQuarter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>meetingDate</name>
                <value>
                    <elementReference>varMeetingDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>screenMode</name>
                <value>
                    <stringValue>editor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>qbrMeetingId</name>
                <value>
                    <elementReference>varQbrMeetingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slideOneHtml</name>
                <value>
                    <elementReference>varSlideOneHtml</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slideTwoHtml</name>
                <value>
                    <elementReference>varSlideTwoHtml</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slideThreeHtml</name>
                <value>
                    <elementReference>varSlideThreeHtml</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slideFourHtml</name>
                <value>
                    <elementReference>varSlideFourHtml</elementReference>
                </value>
            </inputParameters>
            <outputParameters>
                <assignToReference>varQbrMeetingId</assignToReference>
                <name>qbrMeetingId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSlideOneHtml</assignToReference>
                <name>slideOneHtml</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSlideTwoHtml</assignToReference>
                <name>slideTwoHtml</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSlideThreeHtml</assignToReference>
                <name>slideThreeHtml</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSlideFourHtml</assignToReference>
                <name>slideFourHtml</name>
            </outputParameters>
        </fields>
    </screens>
    <screens>
        <name>Export_Presentation</name>
        <label>輸出簡報 / Export Presentation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Export_Stage</elementReference>
        </stageReference>
        <fields>
            <name>ExportIntro</name>
            <fieldText>&lt;p&gt;最後一步：勾選要輸出的議題，生成簡報檔。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PresentationExport</name>
            <extensionName>c:cmQbrPresentationExport</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>qbrMeetingId</name>
                <value>
                    <elementReference>varQbrMeetingId</elementReference>
                </value>
            </inputParameters>
            <outputParameters>
                <assignToReference>varSelectedSlideNumbers</assignToReference>
                <name>selectedSlideNumbers</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varPresentationFileUrl</assignToReference>
                <name>generatedFileUrl</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varPresentationFileName</assignToReference>
                <name>generatedFileName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varPresentationContentDocumentId</assignToReference>
                <name>generatedContentDocumentId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varPresentationContentVersionId</assignToReference>
                <name>generatedContentVersionId</name>
            </outputParameters>
        </fields>
    </screens>
    <stages>
        <name>Setup_Stage</name>
        <isActive>true</isActive>
        <label>會議資訊</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Editor_Stage</name>
        <isActive>true</isActive>
        <label>議題編修</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Export_Stage</name>
        <isActive>true</isActive>
        <label>輸出簡報</label>
        <stageOrder>30</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Meeting_Setup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMeetingDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPresentationContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPresentationContentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPresentationFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPresentationFileUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQbrMeetingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuarter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedSlideNumbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSlideFourHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSlideOneHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSlideThreeHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSlideTwoHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>