force-app/main/default/flows/CM_Update_Lead_AI_Related_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Lead_AI_Scoring</name>
        <label>Generate Lead AI Scoring</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CM_LeadAIScoringInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CM_LeadAIScoringInvoker</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>classification</assignToReference>
            <name>classification</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>key_topics</assignToReference>
            <name>key_topics</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>reason</assignToReference>
            <name>reason</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>reply_recommendation</assignToReference>
            <name>reply_recommendation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>score</assignToReference>
            <name>score</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>CM - Update Lead AI Related Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CM - Update Lead AI Related Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AI_Classification__c</field>
            <value>
                <elementReference>classification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_KeyTopics__c</field>
            <value>
                <elementReference>key_topics</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Reason__c</field>
            <value>
                <elementReference>reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_ReplyRecommendation__c</field>
            <value>
                <elementReference>reply_recommendation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Score__c</field>
            <value>
                <elementReference>score</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Lead_AI_Scoring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>classification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>key_topics</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reply_recommendation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
